<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.GreenHouse.mapper.StoreMapper">
    <resultMap type="Shoping_Cart" id="ShopingCartMap">
		  <id property="sc_id" column="sc_id"/>
		  <result property="g_id" column="g_id"/>
		  <result property="c_id" column="c_id"/>
		  <result property="sc_goodNum" column="sc_goodNum"/>
		  <result property="sc_g_buy_state" column="sc_g_buy_state"/>
		  <result property="sc_g_payment" column="sc_g_payment"/>
		<collection property="goods" ofType="Good">
		  <id property="g_id" column="g_id" />
		  <result property="s_id" column="s_id" />
		  <result property="g_name" column="g_name" />
		  <result property="gt_id" column="gt_id" />
		  <result property="g_pic" column="g_pic" />
		  <result property="g_price" column="g_price" />
		  <result property="g_stock" column="g_stock" />
		  <result property="g_type" column="g_type" />
		  <result property="g_state" column="g_state" />
		</collection>
	</resultMap>
    <select id="selectStoreInfo" parameterType="int" resultType="Store">
       select * from store where s_id=#{s_id}
    </select>
    <select id="selectgoodInfo" parameterType="int" resultType="Good">
       select * from good where g_id=#{g_id}
    </select>
    <select id="selectGoodssaInfo" parameterType="int" resultType="Good">
       select * from good where s_id=#{s_id}
    </select>
	<insert id="applyStore" parameterType="Store" >
	    insert into Store values (seq_Store.nextval,1041,#{c_id},#{s_ownerName},#{s_ID_card},#{s_name},#{s_company},#{s_area},#{s_detail_Addr},#{s_post},#{s_tel},null,null,null,'未通过')
	</insert>
	<insert id="indsertCart" parameterType="Shoping_Cart">
	    insert into Shopping_Cart values(seq_Cart.nextval,#{g_id},#{c_id},1,'未购买','未付款')
	</insert>
	
	<select id="selectCartNum" parameterType="int" resultMap="ShopingCartMap">
       select * from Shopping_Cart sc inner join good g on g.g_id=sc.g_id where c_id=#{c_id} and sc_g_buy_state='未购买' and sc_g_payment='未付款'
    </select>
    
    <select id="selectSCartGood" parameterType="Shoping_Cart" resultType="Shoping_Cart">
       select * from Shopping_Cart where c_id=#{c_id} and g_id=#{g_id}
    </select>
    <update id="updateScartNum" parameterType="Shoping_Cart">
       update Shopping_Cart set sc_goodNum=#{sc_goodNum} where g_id=#{g_id} and c_id=#{c_id} 
    </update>
    
    <delete id="DeleteCartGood" parameterType="int">
       delete Shopping_Cart where sc_id=#{sc_id}
    </delete>
	
	<select id="getStore" parameterType="Object"  resultType="int">
		select s_id from store where c_id=#{c_id}
	</select>
</mapper>     
