@charset "utf-8";
/* CSS Document */
.reg-box{width:990px; margin:0 auto}
.reg-box::before, .grid::after {
display: table;
line-height: 0;
content: "";
}
.reg-box::after {
clear: both;
}
.reg-box::before, .grid::after {
display: table;
line-height: 0;
content: "";
}
.reg-box {
width: 990px;
margin: 0 auto;
}
.index_tbar{background:#f7f7f7 repeat-x;border-bottom:1px #fff solid; line-height:30px; height:30px;}
.index_tbar .collect img{margin-top:-3px;margin-right:3px}
.index_tbar .name{margin-right:10px;}
.index_tbar .op a{margin-right:6px}

div.arrow-down { 
width: 0; 
height: 0; 
border-left: 4px solid transparent; 
border-right: 4px solid transparent; 
border-top: 4px solid #666; 
font-size: 0; 
line-height: 0; 
margin-left:6px;
margin-top:12px
} 
.body2{background:#f2f2f2}


#nav  li{float:left;}
#nav  li.line{margin-left:9px}

.ui-dropdown {
	display:inline-block;
	position:relative;
	*display:inline;
	*zoom:1;
	line-height:30px;
	z-index:100;
	white-space:nowrap;margin:0 5px 0 8px
}
.ui-dropdown-hd {
	display:inline-block;
	padding:0 5px
}
.ui-dropdown-hd b {
	position:absolute;
	*right:-4px;
	top:13px;
	width:0;
	height:0;
	
	border-width:4px;
	border-style:solid;
	border-color:#666 transparent transparent;
	font-size:0;
	line-height:0;
	-webkit-transition:-webkit-transform .5s ease;
	-moz-transition:-moz-transform .5s ease;
	-o-transition:-o-transform .5s ease;
	-ms-transition:-ms-transform .5s ease;
	transition:transform .5s ease
}
.ui-dropdown-hd .phon{margin-top:2px;margin-left:3px;background:url(../images/icon-pho.gif) no-repeat; width:13px; height:22px;}
.ui-dropdown.hover .ui-dropdown-hd .phon,.ui-dropdown:hover .ui-dropdown-hd .phon{ background:url(../images/icon-pho2.jpg) no-repeat;width:13px; height:22px;}
.ui-dropdown-hd:hover {
	text-decoration:underline;
	color:#318327		
}
.ui-dropdown-menu {
	display:none; 
}
.ui-dropdown.hover .ui-dropdown-hd,.ui-dropdown:hover .ui-dropdown-hd {
	position:relative;
	z-index:1;
	border:1px solid #308226;
	border-bottom:none;
	background:#fff;
	padding-right:10px;
	 
	
}
.ui-dropdown.hover .ui-dropdown-hd b,.ui-dropdown:hover .ui-dropdown-hd b {
	border-color:#fff #fff #666\9;
	top:9px;
	right:3px;
	*margin-top:-4px;
	*right:3px;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	-webkit-transition:-webkit-transform .5s ease;
	-moz-transition:-moz-transform .5s ease;
	-o-transition:-o-transform .5s ease;
	-ms-transition:-ms-transform .5s ease;
	transition:transform .5s ease
}
:root .ui-dropdown.hover .ui-dropdown-hd b,.ui-dropdown:hover .ui-dropdown-hd b{top:12px\9;right:0px\9}
.ui-dropdown.hover .ui-dropdown-menu,.ui-dropdown:hover .ui-dropdown-menu {
	display:block;
	position:absolute;
	top:0px;
	margin-top:-1px;
	left:0;
	float:left;
	line-height:22px;
	border:1px solid #308226;
	background:#fff; text-align:center
}
.ui-dropdown.hover .ui-dropdown-menu,.ui-dropdown:hover .weixin{width:242px; height:152px;}
.ui-dropdown.hover .ui-dropdown-menu,.ui-dropdown:hover .ques{width:63px;}
.ui-dropdown.hover .ui-dropdown-menu,.ui-dropdown:hover .weixin li .con{width: 220px;
padding: 15px 0 20px 20px;}
.ui-dropdown.hover .ui-dropdown-menu,.ui-dropdown:hover .weixin li .con .font{width:96px;margin-left:20px;margin-top:30px; text-align:left}
.ui-dropdown.hover .ui-dropdown-menu,.ui-dropdown:hover .weixin li .con .bt a{margin-top:10px;*margin-top:0px; float:Left}
.ui-dropdown.hover .ui-dropdown-menu a,.ui-dropdown:hover .ui-dropdown-menu a {
	display:block;
	padding:0 5px;
}
.ui-dropdown.hover .ui-dropdown-menu.fr,.ui-dropdown:hover .ui-dropdown-menu.fr {
	left:auto;
	right:0
}


.col-con { line-height:30px; width:70px;height:29px;}
.col-con  a:hover{color:#318327; text-decoration:underline }
.col-con2 { line-height:30px;width:94px;  height:29px;}

.col-con2  a:hover{color:#318327; text-decoration:underline;}
.col-con2 .pho{margin-left:8px;margin-top:3px}
#nav li a:hover  div.arrow-down{margin-top:11px;}
#nav li ul
{	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2); -o-box-shadow: 0 1px 3px rgba(0,0,0,0.2); box-shadow: 0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); margin-top:31px;margin-left: 2px;border: 1px solid #308226; border-top:none;*margin-left:-75px;z-index:99999}
		
#nav li ul li
{	float: none;
	display: inline;}

#nav li ul li a
{	width: auto;
	background: #fff;
	color: #24313C;}
#nav li ul li a:hover
{	 text-decoration:underline;
color:#318327;  }
#nav li ul li a:hover
{	background: none; border:none}

#nav  li.line1{margin-left:0px}
.reg-top{width:990px;height:110px;}
.reg-top .content{height:49px;width:285px;margin-top:11px;margin-left:10px;margin-bottom:30px}
.reg-top .content .reg-logo{padding-right:15px;border-right:1px #e0e0e0 solid}
.reg-font{color:#333;margin-left:14px;margin-top: 6px;line-height:49px;}
.reg-top2{width:990px;height:80px;}
.reg-top2 .content{height:49px;width:285px;margin-top:11px;margin-left:14px;margin-bottom:17px}
.reg-top2 .content .reg-logo{padding-right:15px;border-right:1px #e0e0e0 solid}
.reg-font2{color:#333;margin-left:14px; line-height:49px;}

.reg-top a{color:#005aa0; text-decoration:none}
.reg-top a:hover{color:#005aa0; text-decoration:underline}
.reg-box2{border:1px #c6c6c6 solid;width:988px;height:443px;background:#fff;margin-bottom:10px}
.fl-box{width:750px;margin-top:25px;margin-bottom:41px;}
.fl-box li.form{padding-left:94px;height:40px; line-height:40px;margin-bottom:30px;}
.fl-txt{width:94px; text-align:right;color:#999}
.fl-box li .item-ifo{margin-left:19px;width:270px; position:relative}
.input_s1 {color:#999; border:1px #ccc solid;width:260px; height:40px;padding-left:10px; *width:240px;} /*line-height:40px;*/
.input_s2 {color:#333;border:1px #c6dea5 solid;width:260px; height:40px ;padding-left:10px; line-height:40px;*width:240px;}
.item-ifo .i-name {
background: url(../images/one4.jpg) no-repeat ;
height: 16px;
top: 12px;
width: 16px;
}
.item-ifo i {
position: absolute;
right: 8px;
}

.succeed {
background: url(../images/sucess.png) no-repeat white;width: 16px;
height: 16px;
position: absolute;
right: 4px;
top: 12px;
padding: 3px;
float: none;
}
.reg_name_ui
{background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #ccc;
left: 0;
position: absolute;
top: 38px;
width: 270px;
z-index: 900;*left:19px;}
.reg_name_ui li{height:25px; line-height:25px;width:260px; float:left;padding-left:10px; cursor:pointer}
.reg_name_ui li:hover{background:#ddd;text-align:left;width:270px}
.reg_error {
color: #E4393C;
line-height: 40px;
height: 40px;
position: absolute;
top: 0px;
right: -267px;
width: 250px;
padding: 0 5px;
background: #FFEBEB;
border: 1px solid #FFBDBE;
}
.reg_error a,.code-tt a{color: #005AA0; text-decoration:none}
.reg_error a:hover,.code-tt  a:hover{color: #005AA0; text-decoration:underline}
.reg_tip {
color: #999;
line-height: 40px;
height: 40px;
position: absolute;
top: 0px;
right: -267px;
width: 250px;
padding: 0 5px;
background: #F7F7F7;
border: 1px solid #ccc; 
}
/*注册错误提示样式开始*/
.zc_houl1, .zc_houl4 {
color: #999;
line-height: 40px;
height: 40px;
position: absolute;
top: 0px;
right: -267px;
width: 250px;
padding: 0 5px;
background: #F7F7F7;
border: 1px solid #ccc; 
}

.zc_houl2{
color: #E4393C;
line-height: 18px;
height: 40px;
position: absolute;
top: 0px;
right: -267px;
width: 250px;
padding: 0 5px;
background: #FFEBEB;
border: 1px solid #FFBDBE;
}

.zc_houl3 {
color: #E4393C;
height: 40px;
position: absolute;
top: 0px;
right: -267px;
width: 250px;
padding: 0 5px;
background: #FFEBEB;
border: 1px solid #FFBDBE;
}

/*注册错误提示样式结束*/
.reg_tip em{ font-style:italic}
.reg-pwd{
width: 238px;
height: 20px;
padding: 10px 25px 10px 5px;
border: 1px solid #CCC;
float: none;
font-size: 14px;
font-family: arial,"宋体";
color: #999;
*width: 220px;
}
 .i-pass {
background: url(../images/icon-lock.jpg)no-repeat scroll 0 0 transparent;
height: 23px;
top: 8px;
width: 13px;
position: absolute;
right: 8px;
}
.fl-box li.form .reg_tip span{ line-height:18px}
.fl-box li.form .reg_error span{line-height:18px}
.pwd-safe{color: #29292c;
line-height: 28px;
padding-right: 10px;
font-size:14px;
clear: both;
float: none;
position: absolute;
top: 41px;
right: 83px;}
.safe1 b {
float: left;
width: 106px;
height: 19px;
overflow: hidden;
margin-top: 5px;
/*background:url(../images/pwd-safe.jpg) no-repeat 0 0px;*/
}
.safe2 b {
float: left;
width: 106px;
height: 19px;
overflow: hidden;
margin-top: 5px;
/*background:url(../images/pwd-safe.jpg) no-repeat 0 -19px;*/
}
.safe3 b {
float: left;
width: 106px;
height: 19px;
overflow: hidden;
margin-top: 5px;
/*background:url(../images/pwd-safe.jpg) no-repeat 0 -38px;*/
}
.code_s1 {color:#999; border:1px #ccc solid;width:85px; height:40px;padding-left:10px; line-height:40px} 
.code_s2 {color:#333;border:1px #c6dea5 solid;width:100px;*width:80px; height:40px ;padding-left:10px; line-height:40px}
.form label, .form input,.form  select, .form textarea, .form button{
float: left;
}
.code-t{width:100px;margin-left:19px;position:relative}
.item-ifo .code{margin:0 5px}


label{vertical-align:middle} .inputcheckbox{vertical-align:middle;margin-right:3px;*margin-left:16px} 
label.xy{margin-top:-13px;*margin-top:-9px}
label.xy a{color:#005aa0;}
.fl-box li.form.check{ width:666px;padding-left:94px;margin-bottom:10px;}
.form  a.bttn,.form  a.bttn2 {
margin-left: 20px;
border: 1px solid #DDD;
padding: 0;
width: 106px;
height: 40px;
background: #F4F4F4;
margin-top: 0;
text-align: center;
line-height: 40px;
color: #333;
text-decoration: none;
display: inline-block;
}
.form  a.bttn:hover{ color:#F00; text-decoration:underline;}
.form  a.bttn2:hover{ color:#45b035; text-decoration:underline;}
.msg-text{color:#000; position: absolute; float:none;margin-left:112px;margin-top:37px;*margin-top:-10px;*margin-left:133px}
.phone{margin-top: 25px;
margin-left: -177px;
width: 360px;
height: 270px;
background:#fafff9;
border:1px #D6DCD0 solid}
.phone .top{border-bottom:1px #D6DCD0 solid; height:73px; line-height:73px; text-align:center; color:#5b5d5a;width:218px}
.phone .bottom{ width:218px; height:105px; text-align:center; padding-top:20px; line-height:20px}
.cd7{color:#d7dcd6}
.c82{color:#82847f}
.fh{ font-family:Adobe Caslon pro;}
.c46{color:#46b035}

 .mc {
margin-top: 36px;
padding-top: 5px;
padding-left: 200px;
width: 850px;
}
.reg-tips-info-suc {
color: #7ABD54;
}
.reg-tips-info {
margin-bottom: 10px;
font-family: "microsoft yahei";
font-size: 18px;
}
.reg-btn-small {
display: inline-block;
width: 87px;
height: 32px;
background: #F6F6F6;
line-height: 30px;
font-size: 14px;
color:#333;
border: 1px solid #DDD;
text-align: center;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.reg-box3{border:1px #c6c6c6 solid;width:988px;height:337px;background:#fff;margin-bottom:10px}
.reg-btn-small:hover{
color: #45B035;
text-decoration: underline;
}
.reg-nickname-tips {
margin: 23px 0;
color: #333;
}
.reg-nickname-tips em {
color: #F60; font-style:normal
}
a.reg-nickname-tips {
color: #005ea7; text-decoration:none;
}
a.reg-nickname-tips:hover{
color: #005ea7; text-decoration:underline
}
.reg-nickname-revise {
overflow: hidden;
margin: 20px 0;
}
.reg-nickname-revise label {
line-height: 24px;
}
.text {
margin: 0;
border: 1px solid #CCC;
min-width: 188px;
_width: 200px;
padding: 4px 5px;
font-size: 12px;
color: #CCC;
float: left;
margin-right: 5px;
}
.reg-btn3 {
width: 53px;
height: 25px;
background: #F6F6F6;
line-height: 25px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid #DDD;
}
.reg-nickname-revise .focus {
color: #666;
}
.reg-form {
margin: 20px 0 46px;
border: 1px solid #D0E4C2;
padding:10px 30px 15px 30px;
width: 522px;
background: #FCFFFA;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
height:111px;
}
.reg-form-tips {
font-size: 18px;
font-family: "microsoft yahei";
color: #ff6614;
}
.reg-form-tips em {
font-size: 24px; font-style:normal
}
.check-email p em {
color: #F60;font-style:normal
}
.check-email p em  a{color: #F60}
a.j_resend{color: #005EA7;}
a.j_resend:hover{color: #005EA7; text-decoration:underline}
.reg-btn4 {
margin: 15px 0;
width: 75px;
height: 25px;
background: #45B035;
line-height: 25px;
font-size: 12px;
font-weight: normal;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
color:#fff;
text-align:center
}
.reg-btn4 a{color:#fff; text-decoration:none}

.check-email-suc {
display: inline-block;
padding: 2px 5px 5px;
*padding: 4px 5px 5px 27px;
border: 1px solid #D9D9D9;
/*background: whiteSmoke url(../images/sucess.png) no-repeat 5px 4px;*/
height: 15px;
margin-top:15px;
margin-left:10px;
line-height:16px
}

.check-email-suc a{
cursor: pointer;
}
.check-email-suc a:hover {
	color: #7ABD54;
} 

/*推荐用户名开始*/
#recommend_name{
	position: absolute; 
	top:42px;
	background: none repeat scroll 0 0 #FFEBEB; 
	width: 270px; 
	z-index: 999;
	border: 1px solid #FFBDBE;
}
#recommend_name h5{
	margin-left: 3px;
	color:#999999;
}
.re_item{
	height: 24px;
	margin-left: 5px;
    line-height: 24px;
}
.re_item input{
	margin-top: 5px;
}
/*推荐用户名结束*/

/*用户密码大小写提示开始*/
#big_small_t{
	border: 1px solid #EDD288;
    color: #FF6600;
    height: 25px;
    margin-left: 113px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 225px;
    width: 268px;
}
/*用户密码大小写提示结束*/

/*注册协议*/
#xiyi_bu{
	display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color:#EEEEEE;
    z-index:1001; 
    -moz-opacity: 0.8; /*半透明*/
    opacity:.80; /*半透明*/
    filter: alpha(opacity=80);/*半透明*/
}
.thickbox {
position: absolute;
z-index: 10000002;
overflow: hidden;
padding: 0;
left:15%;
top:10%;
border: 4px solid rgba(0, 0, 0, 0.1);
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
width:924px
}
.thicktitle {
padding: 0;
text-align: center;
}
.thicktitle {
height: 27px;

border: solid #C4C4C4;
border-width: 1px 1px 0;
background: #F3F3F3;
line-height: 27px;
font-family: arial, "\5b8b\4f53";
font-size: 14px;
font-weight: bold;
color: #333;
}
.thickcon {
overflow: auto;
background: #fff;
border: 1px solid #C4C4C4;
width:902px;
padding: 10px;
}
.protocol-con {
height: 356px;
overflow: auto;
padding: 10px 20px 0 10px;
width:880px
}
.btnt {
width: 322px;
margin: 20px auto 0;
}
.btnt .btn-img {
width: 322px;
height: 34px;
line-heiht: 34px;
background: #47AE38;
color: #FFF;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: "微软雅黑";
font-size: 16px;
font-weight: 800;
}
.btn-img {
cursor: pointer;
overflow: hidden;
margin: 0;
padding: 0;
border: 0;
text-align: center;
}
.btnt .btn-img {
line-height: 34px;
}
.thickclose:link, .thickclose:visited {
display: block;
position: absolute;
z-index: 100000;
top: 7px;
right: 12px;
overflow: hidden;
width: 15px;
height: 15px;
background: url(../images/bg_thickbox.gif) no-repeat 0 -18px;
font-size: 0;
line-height: 100px;
}
.login_box{width:990px;height:354px;background:#eeeeee;padding-top:16px;margin-bottom:205px;}
.login_box2{width:990px;height:445px;background:#eeeeee;padding-top:16px;margin-bottom:205px;}

.login_con{background:#fff;width:959px;margin:0 auto;*padding-bottom:30px}
.login_con .con{margin:25px 25px 22px  77px;width:859px;}
.fl-box2{width:365px;}
.tips{ position:absolute;color:#005aa0; display:block;top:35px;left:180px;*left:170px}
.fl-box2 li .item-ifo{width:270px; position:relative;}
.fl-box2 li .item-ifo i{*margin-right:20px}
.fl-box2 li.form{height:40px; line-height:40px;margin-bottom:30px; float:left;}
.tips a{color:#005aa0; text-decoration:none}
.tips a:hover{color:#005aa0; text-decoration: underline}
.tips.gap{ left: 205px;
    position: relative;
    top: -2px;}
.fl-box2 li .btn{padding-top:10px;
width: 270px;
}
#loginname_error{position: absolute;
width: 267px;
*width: 247px;
padding: 2px 0 2px 3px;
left: 0px;
top: 42px;
border: 1px solid #FFBDBF;
color: #E6393D;
background: #FFEBEC;
float: none;
line-height: 16px;
z-index: 100;
}